# GEMINI_API_KEY
GEMINI_API_KEY=

# Firebase (opcional / futuro)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Azure Communication Services (Disparo Oficial de E-mail)
COMMUNICATION_SERVICES_CONNECTION_STRING=
AZURE_EMAIL_SENDER_ADDRESS=
